 html,
 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     position: relative;
     height: 100%;
     font-family: 'Advent Pro', sans-serif;
 }

 a {
     text-decoration: none;
     color: #fff;

 }

 main {
     width: 100%;
     position: relative;
     height: calc(100vh - 30px);
     background-color: #000;
 }

 .first__container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     align-items: center;
     height: 100%;
 }

.fadeOut {
    animation: fadeOut 4s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    display: none;

}

.fadeIn {
    animation: fadeIn 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
 display:block;
}

@keyframes fadeOut {
    to {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity:0;
    }
}

@-webkit-keyframes fadeIn {
    to {
        opacity:1;
    }
}

@keyframes fadeIn {
    to {
        opacity:1;
    }
}
 svg {
     width: 100%;
     max-height: 90%;
     height: auto;
     /* position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%); */
 }

 text {
     text-anchor: middle;
 }

 .filled-heading {
     text-transform: uppercase;
     font-family: 'Advent Pro', sans-serif;
     font-size: 5em;
     line-height: 0.9;
 }

 button {
     overflow: visible;
     border: 0;
     padding: 0;
     margin: 1.8rem;
 }

 .btn.striped-shadow span {
     display: block;
     position: relative;
     z-index: 2;
     border: 5px solid #f5cce6;
     color: #fff;
     background: #c72650;
 }

 .btn {
     font-family: 'Advent Pro', sans-serif;
     height: 50px;
     line-height: 35px;
     display: inline-block;
     letter-spacing: 1px;
     position: relative;
     font-size: 1.35rem;
     transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
     transition: opacity .3s, z-index .3s step-end, transform .3s;
     transition: opacity .3s, z-index .3s step-end, transform .3s,
         -webkit-transform .3s;
     z-index: 1;
     background-color: transparent;
     cursor: pointer;
 }

 .btn {
     width: 155px;
     height: 48px;
     line-height: 38px;
 }

 button.btn.striped-shadow:after,
 button.btn.striped-shadow:before {
     /* background-image: linear-gradient(135deg,
         transparent 0,
         transparent 5px,
         #f5cce6 5px,
         #f5cce6 10px,
         transparent 10px); */
         background-color:none;
 }


 button.btn.striped-shadow:hover:before {
     max-height: calc(100% - 10px);
 }

 button.btn.striped-shadow:after {
     width: calc(100% - 4px);
     height: 8px;
     left: -10px;
     bottom: -9px;
     /* background-size: 15px 8px; */
     /* background-repeat: repeat-x; */
 }

 button.btn.striped-shadow:after,
 button.btn.striped-shadow:before {
     content: '';
     display: block;
     position: absolute;
     z-index: 1;
     transition: max-height .3s, width .3s, -webkit-transform .3s;
     transition: transform .3s, max-height .3s, width .3s;
     transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
 }

 .btn.striped-shadow:hover {
     -webkit-transform: translate(-12px, 12px);
     -ms-transform: translate(-12px, 12px);
     transform: translate(-12px, 12px);
     z-index: 3;
 }

 button.btn.striped-shadow:hover:after,
 button.btn.striped-shadow:hover:before {
     -webkit-transform: translate(12px, -12px);
     -ms-transform: translate(12px, -12px);
     transform: translate(12px, -12px);
 }

 button.btn.striped-shadow:before {
     width: 8px;
     max-height: calc(100% - 5px);
     height: 100%;
     left: -12px;
     bottom: -5px;
     /* background-size: 8px 15px; */
     /* background-repeat: repeat-y; */
     /* background-position: 0 100%; */
 }


 footer {

     position: fixed;
     bottom: 0;
     height: 30px;
     width: 100%;
     left: 0;
     background-color: #65015c;

 }

 footer p {
     margin: 5px 0;
     position: relative;
     text-align: center;
     color: #fff;
 }



 /* Animate the background shapes */
 #background path {
     -webkit-animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
     animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
     /* Necessary to keep the SVG objects in place while scaling */
     transform-origin: 50% 50%;
     transform-box: fill-box;
 }

 @-webkit-keyframes pulse {

     /* Rotating it along with the scale makes it a little bit more fancy */
     0%,
     100% {
         transform: scale(0) rotate(33deg);
     }

     35%,
     65% {
         transform: scale(1) rotate(0deg);
     }
 }

 @keyframes pulse {

     /* Rotating it along with the scale makes it a little bit more fancy */
     0%,
     100% {
         transform: scale(0) rotate(33deg);
     }

     35%,
     65% {
         transform: scale(1) rotate(0deg);
     }
 }

 .second__container {
     height:100%;
     width:100%;
     color: #111;
     padding:20px;
     padding-top:2em;
     letter-spacing: 1px;
     opacity:0;
  display:none;
 }

 .second__container div {
     padding:2em;
     padding-top:3em;
 }

 .second__container span {
    display: inline-block;
    font-size: 3.5em;
    margin: 0 3px;
    -webkit-animation: glow 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
    animation:glow 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
 }

 @keyframes glow {

     0%,
     100% {
         color: #FFF;
         text-shadow: 0 0 10px #f5cce6, 0 0 50px #c72650, 0 0 100px #ef0023;
     }

     10%,
     90% {
         color: #111;
         text-shadow: none;
     }
 }

 .second__container span:nth-child(1) {
     animation-delay: 0.10s;
 }

 .second__container span:nth-child(2) {
     animation-delay: 0.25s;
 }

 .second__container span:nth-child(3) {
     animation-delay: 0.5s;
 }

 .second__container span:nth-child(4) {
     animation-delay: 0.75s;
 }

 .second__container span:nth-child(5) {
     animation-delay: 1s;
 }

 .second__container span:nth-child(6) {
     animation-delay: 1.25s;
 }

 .second__container span:nth-child(7) {
     animation-delay: 1.5s;
 }
 .second__container span:nth-child(8) {
     animation-delay: 1.75s;
 }
 .second__container span:nth-child(9) {
     animation-delay: 2s;
 }
 .second__container span:nth-child(10) {
     animation-delay: 2.25s;
 }

 .second__container span:nth-child(11) {
     animation-delay: 2.5s;
 }
 .second__container span:nth-child(12) {
     animation-delay: 2.75s;
 }
 .second__container span:nth-child(13) {
     animation-delay: 3s;
 }


